<div class="container about__block">
    <h1 class="main__title">О приложении MeetUps</h1>
    <p>Добро пожаловать в наше приложение! Здесь вы можете управлять митапами, а если вы админ, то даже участниками.</p>
    <h2 class="about__title">Особенности приложения</h2>
    <ul class="about__list">
      <li>Создание и редактирование своих митапов</li>
      <li>Просмотр списка митапов</li>
      <li>Подписка на понравившиеся митапы</li>
      <li>Регистрация пользователей</li>
      <li>Управление участниками митапов</li>
    </ul>
    <h2 class="about__title">Как использовать</h2>
    <p>Для начала работы вам необходимо залогиниться в приложении. После регистрации вы получите доступ к функциональности создания и редактирования митапов, а также управлению участниками, если ваша роль - админ.</p>
    <h2 class="about__title">Как зарегистрироваться</h2>
    <p>Для регистрации в приложении обратитесь к администратору, который предоставит вам учетные данные и инструкции по регистрации.</p>
    <p>Если вы уже зарегистрированы, просто войдите в свою учетную запись, чтобы начать использовать приложение.</p>
</div>
  
