@import '/src/styles.scss';

.header__block {
    background: $DefaultColor;
    margin-bottom: 30px;
    padding: 10px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.logos__block {
    display: flex;
    gap: 32px;
}

.app-name {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $BoldColor;
}

.nav__block {
    display: flex;
    gap: 30px;
}

.nav__link {
    text-decoration: none;
    font-size: 24px;
    font-family: 'Cherry Bomb One', cursive;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $BoldColor;
    border-bottom: 5px solid transparent;
}

.nav__link:hover {
    border-bottom: 5px solid $AccentColor;
}