<header class="header__block">
    <div class="container header__container">
        <div class="logos__block">
            <div class="app-name">
                MeetUps
            </div>
            <div class="brands__block">
                <div class="it-f__block">
                    <img src="/assets/img/it-f__logo.png" alt="it-f__logo">
                </div>
                <div class="league__block">
                    <img src="/assets/img/league__logo.png" alt="league__logo">
                </div>
            </div>
        </div>
        <nav class="nav__block" *ngIf="isLoggedIn();">
            <a class="nav__link" routerLink="/main">Все митапы</a>
            <a class="nav__link" routerLink="/mymeetups">Мои митапы</a>
            <a class="nav__link" routerLink="/users" *ngIf="checkAdminStatus()">Пользователи</a>
        </nav>
        <div class="buttons__block">
            <div class="login__button"  *ngIf="isLoggedIn(); else logoutButton" (click)="logout()">
                <img src="/assets/img/logout.svg" alt="logout" routerLink="/login">
            </div>
            <ng-template #logoutButton>
                <div class="login__button" >
                    <img src="/assets/img/user.svg" alt="login" routerLink="/login">
                </div>
            </ng-template>
        </div>
    </div>
</header>