@import '/src/styles.scss';

.reg__block {
    display: flex;
    justify-content: center;
}

.reg__form {
    display: flex;
    flex-direction: column;
    width: 342px;
}

.reg__input {
    height: 50px;
    margin-bottom: 24px;
    font-size: 18px;
    padding: 0 20px;
}

.reg__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.cansel__button {
    background: $PrimaryColor;
    color: $SecondaryColor;
}