<div class="list__block container">
    <div class="search__block" *ngIf="!filterUserId">
        <input
          class="input search__input"
          type="text"
          placeholder="Поиск по названию"
          [(ngModel)]="searchQuery"
          (input)="searchMeetups()"
        />
        <img class="search_img" src="/assets/img/search.svg" alt="search__icon">
    </div>
    <div class="meetup-card" *ngIf="meetups.length > 0; else emptyList">
        <app-meetup-card *ngFor="let meetup of meetups" [meetup]="meetup"></app-meetup-card>
    </div>
    <ng-template #emptyList>
        <h2 class="empty-list">Список пуст</h2>
    </ng-template>
</div>