@import '../../../styles.scss';

.lab__block {
    color: $BoldColor;
}

.task2{
    margin-top: 50px;
}

.button_complete {
    width: auto;
}

.task__text {
    font-size: 24px;
    margin-top: 20px;
}