@import '../../../styles.scss';

.lab__block {
    color: $BoldColor;
}

.task{
    margin-top: 50px;
}

.button_complete {
    width: auto;
}

.task__text {
    font-size: 24px;
    margin-top: 20px;
}

.task__input {
    height: 50px;
    margin-bottom: 24px;
    background: $DefaultColor;
    border-radius: 5px;
    border: none;
    color: $PrimaryColor;
    font-size: 18px;
    padding: 0 20px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}