<div class="container lab__block">
    <h2>Lab N3</h2>
    <h3>Task 1</h3>
    <div *ngIf="chainOne.length > 0">
        <h3>Chain 1 (filtered Lucas's Star Wars films includes 'of' in title)</h3>
        <ul>
          <li *ngFor="let film of chainOne">{{ film }}</li>
        </ul>
    </div>
    <div *ngIf="chainTwo.length > 0">
        <h3>Chain 2 (Star Wars films where Rick McCallum is the producer and only the first three elements are got from the stream)</h3>
        <ul>
          <li *ngFor="let film of chainTwo">{{ film }}</li>
        </ul>
    </div>
    <div *ngIf="chainThree.length > 0">
        <h3>Chain 3 (My stream where I used operators Ship, Map (twice) and Filter)</h3>
        <ul>
          <li *ngFor="let sub of chainThree">{{ sub }}</li>
        </ul>
    </div>
    <div class="task">
        <h3>Task 2</h3>
        <button class="button button_complete" (click)="this.task2()">Complete Task 2</button>
        <div *ngIf="loadingStatus" class="task__text">Result in console</div>
    </div>
    <div class="task">
      <h3>Task 3</h3>
      <p>Enter the name of the star wars character</p>
      <input type="text" [formControl]="nameControl" class="task__input" (input)="validateName()">
      <div *ngIf="nameControl.errors && nameControl.errors['validating']" class="loading-message">
        Loading...
      </div>
      <div *ngIf="isNameFound" class="success-message">
        This name exists in the Star Wars universe.
      </div>
      <div *ngIf="nameControl.errors && nameControl.errors['nameNotExists'] && !nameControl.errors['validating']" class="error-message">
        This name does not exist in the Star Wars universe.
      </div>           
    </div>
</div>