<div class="container users__block">
    <div class="container create__block">
        <button class="button button__create" routerLink="/createuser">Создать пользователя</button>
    </div>
    <div class="user__block" *ngFor="let user of users">
        <div class="email__block">
            <input type="email" class="input input__user" value={{user.email}}>
        </div>
        <div class="password__block">
            <input type="password" class="input input__user" placeholder="PASSWORD">
        </div>
        <div class="select__block">
            <select class="select select__user" [(ngModel)]="user.roles[0].name">
                <option value="USER" selected>user</option>
                <option value="ADMIN" selected>admin</option>
            </select>
        </div>
        <div class="buttons__block">
            <div class="button__block delete__button">
                <img src="assets/img/close.svg" alt="delete">
            </div>
            <div class="button__block save__button">
                <img src="assets/img/edit.svg" alt="save">
            </div>
        </div>
    </div>
</div>