<div class="container users__block">
    <div class="user__block">
        <div class="email__block">
            <input type="email" class="input input__user" placeholder="EMAIL">
        </div>
        <div class="password__block">
            <input type="password" class="input input__user" placeholder="PASSWORD">
        </div>
        <div class="select__block">
            <select class="select select__user">
                <option>user</option>
                <option>admin</option>
            </select>
        </div>
        <div class="buttons__block">
            <div class="button__block delete__button">
                <img src="assets/img/close.svg" alt="delete">
            </div>
            <div class="button__block save__button">
                <img src="assets/img/edit.svg" alt="save">
            </div>
        </div>
    </div>
</div>