/* You can add global styles to this file, and also import other style files */
$AccentColor: rgba(184, 85, 38, 1);
$BackgroundColor:rgba(30, 30, 30, 1);
$BoldColor: rgba(233, 233, 233, 1);
$DefaultColor: rgba(44, 44, 44, 1);
$InfoColor: rgba(0, 134, 151, 1);
$PrimaryColor: rgba(180, 180, 192, 1);
$SecondaryColor: rgba(76, 63, 120, 1);

body {
  background: $BackgroundColor;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px;
}

.button {
  display: flex;
  width: 125px;
  height: 50px;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: $SecondaryColor;
  color: $PrimaryColor;
  font-size: 18px;
  box-shadow: 0px 4px 4px 0px rgba(62, 5, 4, 0.25);
  border: none;
}